/* CSS Document */
.groen {color: #3B5221;}
.rood {color: #D60000;}
.grijs {color: #888 !important;}
.zwart {color: #000;}
.doorstreept {text-decoration: line-through; }
.icon-button {margin-left: 5px; }
.participantsbar {clear:both color: #105289;}

